.root{
	-fx-background-color: #CCE5FF;
	-fx-font-size : 10pt;
}

.button {
    -fx-pref-width: 150px;
    -fx-background-color: linear-gradient(#9999FF,#99CCFF);
    -fx-text-fill : white;
}
.title{
	-fx-text-fill : white;
	-fx-font-size : 15pt;
}

.add{
	-fx-font-size : 10pt;
}